.header {
    background-image: url('Image/250gto.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}