.header {
    background-image: url('Image/250gto.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
body {
    padding: 0px;
    margin: 0px;
    background: rgb(212, 212, 208);
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Les catégories */
.categ{
    text-align: center;
    padding:10px;
    background: #ffffff;
    border-radius: 2%;
}

.categ:hover{
    background: rgb(210, 255, 166);
}

.categ a{
    text-decoration: none;
    color: rgba(20, 20, 20, 1);
}

.features{
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.section-title{
    font-size:40px;
}

.line{
    width: 200px;
    background: #a7a7a7;
    height: 3px;
    margin:auto;
}

.line span{
    display: block;
    background-color: green;
    width: 150px;
    height: 3px;
    margin:auto;
    position: relative;
}

.swiper-container {
    width: 80%;
    height: 100%;
    margin: 4em auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next{
      color:black;
    }
    .swiper-button-next:hover{
        color:gray;
    }
.swiper-wrapper{
    margin: 4em;
}


.products{
    background: #eeeeee;
}