.header {
   
    background: no-repeat url('Image/250gto.png');
    background-position: top center;
    background-size: 80%;
}

.head-line{
    width: 80%;
    height: 20px;
    margin:auto;
    background: rgb(141,17,8);
}

body {
    padding: 0px;
    margin: 0px;
    background: rgb(255, 255, 255);
}


.navbar {
      margin-bottom: 0;
      border-radius: 0;
    background-color: rgb(255,255,255);
    border: none;
    width:80%;
    margin-left:10%;
    
    }
.navbar-inverse{
    padding-top:0px !important;
    padding-bottom:0px !important;
}
.navbar-nav{
  padding: 0px 0px;
}
.navbar-nav li .nav-link:hover{
    color: rgb(141,17,8) !important;
    
}
.navbar-nav li .nav-link{
    padding-bottom:15px !important;
    padding-top:15px !important;
}




.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}


.history {
    background-color: #a7a7a7;
}

.feature-title {
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: -5px;
    text-align: center;
    text-transform: uppercase;
}


.footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 60px 0 30px;
}

#scrollUp
{
position: fixed;
bottom : 5px;
right: 5px;
opacity: 0.7;
}



.categ{
    text-align: center;
    padding:10px;
    background: #ffffff;
    border-radius: 2%;
}

.categ:hover{
    background:rgba(141,17,8,0.4);
}

.categ a{
    text-decoration: none;
    color: rgba(20, 20, 20, 1);
}

.features{
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.section-title{
    font-size:40px;
}

.line{
    width: 200px;
    background: #a7a7a7;
    height: 3px;
    margin:auto;
}

.line span{
    display: block;
    background-color: rgb(141,17,8);
    width: 150px;
    height: 3px;
    margin:auto;
    position: relative;
}

.swiper-container {
    width: 80%;
    height: 100%;
    margin: 4em auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-button-next{
  color:rgb(141,17,8);
    border-color: color:rgb(141,17,8); !important;
}
.swiper-button-next:hover{
    color:rgba(141,17,8,0.3);
}
.swiper-button-prev{
  color:rgb(141,17,8);
}
.swiper-button-prev:hover{
    color:rgba(141,17,8,0.3);
}
.swiper-wrapper{
    margin-top: 4em;
    margin-bottom: 4em;
}


.products{
    background: #eeeeee;
}